/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://picsum.photos/1920/1080"); 
    background-color: #f0f4f8;
    color: #333;
    line-height: 1.6;
    text-align: center;
    padding: 20px;
}

header {
    background-color: #3498db;
    color: orange;
    padding: 50px 20px;
    border-radius: 2px;
    margin-bottom: 30px;
}

header h1 {
    font-size: 4.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

main section {
    background-color: gray;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h2 {
    color: black;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
}

li {
    background-color: #2980b9;
    color: white;
    padding: 10px;
    margin: 5px auto;
    width: 200px;
    border-radius: 5px;
    transition: background 0.3s;
}

li:hover {
    background-color: #1c5980;
}

footer {
    margin-top: 40px;
    font-size: 0.9rem;
    color: #777;
}
.profile-pic img{
    border: 5px solid green;
    border-radius: 20%;
}
.projects img{
    border: 5px solid red;
    border-radius: 10%;
}
iframe{
    border: 5px solid yellow;
    border-radius: 5%;
}
.my-table{
    /* margin: 0 auto;  */
    /* border-collapse: collapse;  */
    border: 2px solid #333;   
    /* width: 80%;              */
    text-align: center;      
}
.trial{
    border: 5px solid cyan;
    border-radius: 5%;
}